
<style>
.item-row {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #f8f9fa;
	border-radius: 4px;
}

.radio-group {
	display: flex;
	gap: 15px;
}

.radio-option {
	display: flex;
	align-items: center;
	gap: 5px;
}

.modal-dialog {
	max-width: 75%; /* Responsive width */
	margin: 1.75rem auto;
}
</style>

<div th:fragment="content">
	<div class="modal-header">
		<h5 class="modal-title" id="addNodeModalLabel"
			th:text="${participant.memberName} + ' (' + ${participant.memberNodeName} + ')'">List
			of Participants</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal"
			aria-label="Close"></button>
	</div>
	<!-- Modal Body -->
	<div class="modal-body">

		<form id="addEventScoreForm"
			th:action="@{'/member-events/html/score/' + ${participant.meId}}"
			method="post" style="max-width: 96%;">
			<input type="hidden" name="meId" th:value="${participant.meId}">

			<div class="item-row" th:each="itemEntry : ${participant.items}">
				<div class="d-flex justify-content-between align-items-center">
					<div>
						<strong
							th:text="${kalariItemMap.containsKey(itemEntry.key) ? kalariItemMap.get(itemEntry.key) : 'Item ' + itemEntry.key}"></strong>
					</div>

					<div class="radio-group">
						<div class="radio-option">
							<input type="radio" th:name="|items[${itemEntry.key}]|" value="A"
								th:checked="${itemEntry.value == 'A'}"> <label>Gold
								(A)</label>
						</div>
						<div class="radio-option">
							<input type="radio" th:name="|items[${itemEntry.key}]|" value="B"
								th:checked="${itemEntry.value == 'B'}"> <label>Silver
								(B)</label>
						</div>
						<div class="radio-option">
							<input type="radio" th:name="|items[${itemEntry.key}]|" value="C"
								th:checked="${itemEntry.value == 'C'}"> <label>Bronze
								(C)</label>
						</div>
						<div class="radio-option">
							<input type="radio" th:name="|items[${itemEntry.key}]|" value="P"
								th:checked="${itemEntry.value == 'P'}"> <label>Participation
								(P)</label>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- Modal Footer -->
	<div class="modal-footer">
					<button type="button" class="btn btn-primary"
					onclick="submitHtmlForm('addEventScoreForm')">Save Score
				</button>
		<button type="button" class="btn btn-secondary"
			data-bs-dismiss="modal">Close</button>
	</div>



</div>

