<!-- fragments/pagination.html -->
<div th:fragment="pagination">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <!-- First page link -->
            <li class="page-item" th:classappend="${currentPage == 0} ? ' disabled'">
                <a class="page-link" href="javascript:void(0);" th:if="${currentPage != 0}"
                   th:onclick="'loadContent(\'' + @{${pageUrl}(page=0, size=${size}, sortField=${sortField}, sortDir=${sortDir})} + '\', \'#content\')'">First</a>
                <span class="page-link" th:if="${currentPage == 0}">First</span>
            </li>

            <!-- Previous page link -->
            <li class="page-item" th:classappend="${currentPage == 0} ? ' disabled'">
                <a class="page-link" href="javascript:void(0);" th:if="${currentPage != 0}"
                   th:onclick="'loadContent(\'' + @{${pageUrl}(page=${currentPage - 1}, size=${size}, sortField=${sortField}, sortDir=${sortDir})} + '\', \'#content\')'">Previous</a>
                <span class="page-link" th:if="${currentPage == 0}">Previous</span>
            </li>

            <!-- Page numbers -->
            <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}"
                th:classappend="${i == currentPage} ? ' active'">
                <a class="page-link" href="javascript:void(0);" th:if="${i != currentPage}"
                   th:onclick="'loadContent(\'' + @{${pageUrl}(page=${i}, size=${size}, sortField=${sortField}, sortDir=${sortDir})} + '\', \'#content\')'"
                   th:text="${i + 1}"></a>
                <span class="page-link" th:if="${i == currentPage}" th:text="${i + 1}"></span>
            </li>

            <!-- Next page link -->
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? ' disabled'">
                <a class="page-link" href="javascript:void(0);" th:if="${currentPage != totalPages - 1}"
                   th:onclick="'loadContent(\'' + @{${pageUrl}(page=${currentPage + 1}, size=${size}, sortField=${sortField}, sortDir=${sortDir})} + '\', \'#content\')'">Next</a>
                <span class="page-link" th:if="${currentPage == totalPages - 1}">Next</span>
            </li>

            <!-- Last page link -->
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? ' disabled'">
                <a class="page-link" href="javascript:void(0);" th:if="${currentPage != totalPages - 1}"
                   th:onclick="'loadContent(\'' + @{${pageUrl}(page=${totalPages - 1}, size=${size}, sortField=${sortField}, sortDir=${sortDir})} + '\', \'#content\')'">Last</a>
                <span class="page-link" th:if="${currentPage == totalPages - 1}">Last</span>
            </li>
        </ul>
    </nav>
</div>
