<div class="container">
    <h1>Edit User</h1>
    <form id="passwordForm" action="/users/html/resetPassword" method="post">
        <input type="hidden" id="ref_id" name="refId" th:value="${userDTO.userId}">

        <label for="newPassword">Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>

		<button type="button" onclick="submitHtmlForm('passwordForm')">Update Password</button>

        <div id="error-messages" class="error-message"></div>
    </form>
    <a class="ajax-link" href="/users/html">Back to List</a>
</div>