<!-- fragments/add_node.html -->
<div th:fragment="content">
<div class="modal-header">
    <h5 class="modal-title" id="addNodeModalLabel" th:text="${pageTitle}">Edit Node</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<!-- Modal Body -->
<div class="modal-body">
    <form id="editNodeForm" th:action="@{'/nodes/html/update/' + ${nodeDTO.nodeId}}" method="post" th:object="${nodeDTO}">
        <input type="hidden" name="parentId" th:value="${parentId}" />
        <input type="hidden" name="nodeType" th:value="${nodeType}" />
        
        <div class="row mb-2">
            <div class="col-12">
                <label for="node_name" class="form-label">Node Name</label>
                <input type="text" id="node_name" name="nodeName" th:field="*{nodeName}" class="form-control" required>
            </div>
        </div>
        
        <div class="row mb-2">
            <div class="col-12">
                <label class="form-label">Status</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="active" name="nodeStatus" value="1" th:checked="*{nodeStatus == 1}">
                    <label class="form-check-label" for="active">Active</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="inactive" name="nodeStatus" value="0" th:checked="*{nodeStatus == 0}">
                    <label class="form-check-label" for="inactive">Inactive</label>
                </div>
            </div>
        </div>
        
        <div id="error-messages" class="text-danger"></div>
    </form>
</div>
<!-- Modal Footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary" onclick="submitHtmlForm('editNodeForm', '#nodes_target')">Update</button>
</div>
</div>
