<div th:fragment="menu">
    <nav>
        <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a class="ajax-link" th:href="@{/users/html}">Users</a></li>
            <li><a class="ajax-link" th:href="@{view/documents/html}">Agreements</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
            <li><a th:href="@{/profile}">Profile</a></li>
            <li><a th:href="@{/settings}">Settings</a></li>
        </ul>
    </nav>
</div>
